html, body {
    overflow: hidden;
    height: 100%;
    background-color: #eef;
}

.container-fluid {
    padding-left: 0;
    padding-right:0;
} 

.navbar {
    background-color: #cce;
}

.row {
    margin-left: 0;
}

.header {
    left:0;
    width: 100%;
}

.footer-text {
    margin:20px;
}

.footer {
    position: fixed;
    bottom:0;
    width: 100%;
    height: 64px;
    background-color: #cce;
}

.sidebar {
    margin-top:20px;
    margin-left:5px;
}

.content {
    height: 100vh;
    margin: 25px;
}


