html, body {
    overflow: hidden;
    height: 100%;
}

.container-fluid {
    padding-left: 0;
    padding-right:0;
} 


.row {
    margin-left: 0;
}

.header {
    left:0;
    width: 100%;
}

.footer-text {
    margin:20px;
}

.footer {
    position: fixed;
    bottom:0;
    width: 100%;
    height: 64px;
    color: #fff;
    background-color: #f44;
}

.content {
    background-color: lightgrey;
    height: 100vh;
}

.border {
    border: 2px solid #f44!important;
    
}

.navbar {
    background-color: #f44;
}

